In [1]:
import pandas as pd
import pickle

In [3]:
Rsize_dict = pd.read_pickle('D:/Thesis_data/Rsize_dict.pickle')
Rbtm_dict = pd.read_pickle('D:/Thesis_data/Rbtm_dict.pickle')

In [56]:
df = pd.read_excel('D:/Thesis_data/Factors_fama.xlsx')
df.columns = ['Date', 'Rm-Rf', 'SMB', 'HML', 'RF']
df['year'] = df['Date'].map(lambda x: int(str(x)[:4]))
df['month'] = df['Date'].map(lambda x: int(str(x)[4:6]))
df = df[df['year'] != 2005]
df = df[df['year'] < 2019]
df = df.iloc[6:,:].copy().reset_index(drop=True)
df.head()

       Date   Rm-Rf     SMB     HML      RF  year  month
0  20060731 -0.0078 -0.0407  0.0294  0.0040  2006      7
1  20060831  0.0203  0.0090 -0.0171  0.0042  2006      8
2  20060929  0.0184 -0.0137  0.0005  0.0041  2006      9
3  20061031  0.0323  0.0172 -0.0004  0.0041  2006     10
4  20061130  0.0171  0.0086  0.0007  0.0042  2006     11

In [33]:
result_list=[]
for year, month_dict in Rsize_dict.items():    
    for month, Rsize in month_dict.items():
        row={}
        row['year_test'] = year
        row['month_test'] = month
        row['SMB_test'] = Rsize
        result_list.append(row)
test_df = pd.DataFrame(result_list)
result_list=[]
for year, month_dict in Rbtm_dict.items():    
    for month, Rbtm in month_dict.items():
        row={}
        row['year_test2'] = year
        row['month_test2'] = month
        row['HML_test'] = Rbtm
        result_list.append(row)
test_df2 = pd.DataFrame(result_list)
test_df = pd.concat([test_df2,test_df],axis = 1).drop(['year_test2','month_test2'], axis=1)

In [35]:
test_df.head()

   HML_test  SMB_test  month_test  year_test
0 -0.002842 -0.045132           7       2006
1 -0.007377 -0.010455           8       2006
2 -0.002742 -0.017231           9       2006
3 -0.017316  0.016358          10       2006
4 -0.014158  0.018360          11       2006

In [59]:
final_df = pd.concat([df,test_df], axis=1)

In [60]:
final_df.corr()

,Date,Rm-Rf,SMB,HML,RF,year,month,HML_test,SMB_test,month_test,year_test
Date,1.000000,0.062479,-0.038392,-0.004992,-0.455683,0.999954,-0.050529,0.015336,-0.016095,-0.050529,0.999954
Rm-Rf,0.062479,1.000000,0.337384,0.273346,-0.093288,0.062570,-0.013054,0.406601,0.529410,-0.013054,0.062570
SMB,-0.038392,0.337384,1.000000,0.135965,-0.094108,-0.038213,-0.016498,0.237602,0.663868,-0.016498,-0.038213
HML,-0.004992,0.273346,0.135965,1.000000,-0.029725,-0.006090,0.114905,0.716748,0.253809,0.114905,-0.006090
RF,-0.455683,-0.093288,-0.094108,-0.029725,1.000000,-0.456055,0.064018,-0.042256,-0.122625,0.064018,-0.456055
year,0.999954,0.062570,-0.038213,-0.006090,-0.456055,1.000000,-0.060054,0.015678,-0.014501,-0.060054,1.000000
month,-0.050529,-0.013054,-0.016498,0.114905,0.064018,-0.060054,1.000000,-0.036886,-0.166253,1.000000,-0.060054
HML_test,0.015336,0.406601,0.237602,0.716748,-0.042256,0.015678,-0.036886,1.000000,0.499493,-0.036886,0.015678
SMB_test,-0.016095,0.529410,0.663868,0.253809,-0.122625,-0.014501,-0.166253,0.499493,1.000000,-0.166253,-0.014501
month_test,-0.050529,-0.013054,-0.016498,0.114905,0.064018,-0.060054,1.000000,-0.036886,-0.166253,1.000000,-0.060054
year_test,0.999954,0.062570,-0.038213,-0.006090,-0.456055,1.000000,-0.060054,0.015678,-0.014501,-0.060054,1.000000

In [15]:
def build_dict(df, dict_type):
    result_dict = {}
    for year in range(2005,2020,1):
        result_dict[year] = {}
    for _, row in df.iterrows():
        result_dict[row['year']][row['month']] = row[dict_type]
    return result_dict

In [68]:
hml_dict = build_dict(df,'HML')
smb_dict = build_dict(df,'SMB')

In [70]:
with open('D:/Thesis_data/hml_dict_fama.pickle', 'wb') as f:
    pickle.dump(hml_dict, f)
with open('D:/Thesis_data/smb_dict_fama.pickle', 'wb') as f:
    pickle.dump(smb_dict, f)

In [5]:
rmrf_df = pd.read_excel('D:/Thesis_data/RmRf_fama.xlsx')
rmrf_df.columns = ['date', 'rmrf', 'rf']
rmrf_df['year'] = rmrf_df['date'].map(lambda x: int(str(x)[:4]))
rmrf_df['month'] = rmrf_df['date'].map(lambda x: int(str(x)[4:6]))

In [16]:
rmrf_dict = build_dict(rmrf_df, 'rmrf')
rf_dict = build_dict(rmrf_df, 'rf')

In [12]:
type(rmrf_df.loc[0,'month'])

numpy.int64

In [18]:
with open('D:/Thesis_data/rmrf_dict_fama.pickle', 'wb') as f:
    pickle.dump(rmrf_dict, f)
with open('D:/Thesis_data/rf_dict_fama.pickle', 'wb') as f:
    pickle.dump(rf_dict, f)